.card
{
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center;
}

.card:not(.rounded-circle)
{
	padding-top: 60%;
}

.card + .overlay {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
	background-color: rgba(255, 0, 0, 0.5);
}

.card:hover + .overlay, .card + .overlay:hover
{
	opacity: 1;
	pointer-events: all;
}

#slides
{
	height: 60vh;
}

#slides div.img
{
	background-position: center;
	background-size: cover;
}
